<md-card> <md-card-content>
<div layout="row">
	<md-datepicker ng-model="record.date" md-placeholder="Opname datum"
		flex-gt-sm="20"></md-datepicker>
	<md-input-container hide-sm flex-gt-sm="60"> <label>Waarde</label>
	<input type="number" ng-model="record.value" required /> </md-input-container>
</div>
<div layout="row" hide-gt-sm>
	<md-input-container> <label>Waarde</label> <input
		type="number" ng-model="record.value" required /> </md-input-container>
</div>
</md-card-content>
<div class="md-actions" layout="row" layout-align="end-center">
	<md-button class="md-raised md-primary" ng-click="saveRecord(record)">Opslaan</md-button>
</div>
</md-card>

<div layout="row">
	<md-card flex-gt-sm="30" flex-sm="100"> 
		<md-card-content>
			<table width="100%">
			<thead class="table-header">
				<th width="33.3%">Datum</th>
				<th width="33.3%">Stand</th>
				<th width="33.3%">Verbruik</th>
			</thead>
			<tbody>
				<tr ng-repeat="record in entries">
					<td>{{record.date | date:'dd-MM-yyyy'}}</td>
					<td style="text-align: right">{{record.amount}}</td>
					<td style="text-align: right">{{record.difference}}</td>
				</tr>
			</tbody>
			</table>
			
		</md-card-content>
	<md-actions" layout="row" layout-align="end-center">
		<md-button ng-disabled="!hasPrevious()" ng-click="gotoNext()">Vorige</md-button>
		<md-button ng-disabled="!hasNext()" ng-click="gotoPrevious()">Volgende</md-button>
	</md-actions">
	</md-card>	
	
	 <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="true"></canvas> 
	<md-card>
		<md-card-content>
		
		</canvas>	
		</md-card-content>
	</md-card>
</div>

