<div layout="row">
	<md-input-container> <label>Wachtwoord</label> <input
		type="password" data-ng-model="password" /> </md-input-container>
	<md-button data-ng-if="dirtypassword" data-ng-click="savePassword()">
	<md-icon md-font-icon="fa fa-check-circle"></md-icon> </md-button>
</div>
<md-input-container layout="row">
	<label>Invoer datum</label>
	<input data-ng-model="preference.recorddate"></input>
</md-input-container>
<md-checkbox layout='row' data-ng-true-value="'1'" data-ng-model="preference.notify"	aria-label="Notificatie" data-ng-click="saveNotification()">
Notificatie instellen
</md-checkbox>
<md-input-container layout="row" data-ng-if="preference.notify">
	<label>E-mail adres</label>
	<input type="email" data-ng-model="preference.email" data-ng-model-options="{ debounce: 250 }" /> 
</md-input-container>